<div id="main">
    <h1 id="title">{{WIBI}}</h1>
    <nav>
        <ul>
        {{!-- TODO, Conditional navigation --}}
            <li><<a href="#">PALS</a></li>
            <li>{{#link-to 'message'}}Messages{{/link-to}}</li>
            <li><a href="#">Plan</a></li>
            <li><a href="#">{{#link-to 'user'}}Users{{/link-to}}</a></li>
            {{!-- List some users! --}}
            <li><a href="#">Videos</a></li>
        </ul>
    </nav>
    <hr>
    {{ outlet }}
</div>